@import '@shoelace-style/shoelace/dist/themes/light.css';
@import '@shoelace-style/shoelace/dist/themes/dark.css';

html,
body {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font: 16px sans-serif;
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-900);
}

.app {
  min-height: 100%
}

/*
html,
body {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#plant-db-input {
  display: flex;
  flex-direction: column;

  padding: 3px;

  background-color: #ccc;

  .import-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 6px;

    >label {
      display: flex;
      flex-direction: column;
      flex: 1;

      textarea {
        vertical-align: top;
        height: 100%;

        font-family: 'Courier New', Courier, monospace;
      }
    }
  }

  #db-configuration {
    display: flex;
    flex-direction: column;

    label {
      margin: 2px;
    }

    label>input,
    label>select {
      position: absolute;
      left: 200px;
    }
  }

  #process {
    margin: 5px;
    padding: 5px;
  }
}
*/
