name: QA

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  qa:
    name: Run QA
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Select NodeJS version
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies
        run: yarn install

      # Pre-build QA
      - name: Check constraints
        run: yarn constraints

      # Build
      - name: Build
        run: |
          yarn workspace @plantdb/libplantdb build
          yarn workspace @plantdb/plant-cli build
          yarn workspace @plantdb/web-project build

      # Post-build QA
      - name: Lint ESLint
        run: yarn lint:eslint
      - name: Lint TSC
        run: yarn lint:tsc
